In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("jan-dec-morocco-12pm.csv")
df.head()

   longitude   latitude                 time        ssr
0     -13.16  35.810001  2021-01-01 12:00:00  1056763.1
1     -13.16  35.810001  2021-02-01 12:00:00  1675048.8
2     -13.16  35.810001  2021-03-01 12:00:00  2113685.8
3     -13.16  35.810001  2021-04-01 12:00:00  2496103.2
4     -13.16  35.810001  2021-05-01 12:00:00  2831660.0

In [12]:
data_ssr = []
latitudes = []
longitudes = []

counter = 0
total_ssr = 0
for row in df.iterrows():
    total_ssr += row[1]['ssr']
    counter += 1
    if(counter == 12):
        data_ssr.append(total_ssr)
        latitudes.append(row[1]["latitude"])
        longitudes.append(row[1]["longitude"])
        total_ssr = 0
        counter = 0
    #date = row[1]['time'].split(" ")
    #month = (date[0].split("-"))[1]
    #print(row[1]["ssr"])

dataset = {'longitude': longitudes, 'latitude': latitudes, 'ssr': data_ssr}
morocco_df = pd.DataFrame(dataset)

In [13]:
morocco_df.head()

   longitude   latitude         ssr
0     -13.16  35.810001  25007182.7
1     -13.16  35.560001  25102338.7
2     -13.16  35.310001  25206593.0
3     -13.16  35.060001  25322749.5
4     -13.16  34.810001  25472820.4

In [16]:
morocco_df.to_csv("morocco_df.csv", index=False)